extends layout

block content
	script(type="text/javascript")
		var nim = !{JSON.stringify(nilai)}
	#nilai-container.center-block
		if nilai != null
				table.table
					tr
						th NIM
						th NAMA
						th KELAS
						th ASISTEN
						th MODUL 1
						th MODUL 2
						th MODUL 3
						th MODUL 4
						th MODUL 5
						th MODUL 6
						th NILAI AKHIR
					tr
						td=nilai.nim
						td=nilai.name
						td=nilai.class
						td=nilai.assistant
						td=nilai.m1
						td=nilai.m2
						td=nilai.m3
						td=nilai.m4
						td=nilai.m5
						td=nilai.m6
						td=nilai.na
		else
			h2 NIM Tidak Ditemukan.
		a.btn.btn-primary(href="/") Kembali
	